{% extends 'registro/layout.html '%}
{% block container %}
<br><br>
<div class="row">
    {% load crispy_forms_tags %}
    <div class="col-12 col-md-6 ofset-3  m-auto ">
        <div class="card">
            <div class="card-tittle text-center text-dark mt-2">Login</div>
            <div class="card-body">
                <form action="" method="post" class="text-dark">
                    {% csrf_token %}
                    {{form | crispy}}
                <br>

                <input type="submit" value="Ingresar" class="btn btn-success float-end">
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}