{% extends 'registro/layout.html'%}

{% block title%} {% endblock %}

{%block container%}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="campos-registro">

            <div class="formulario">
            <div class="titulo-formulario">
                <h1>Iniciar Sesión</h1>
            </div>
            <form action="#" method="">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="contrasena" id="" placeholder="Contraseña">
                
                <input type="submit" value="Iniciar">
            </form>    
            </div>
        </div>
    </div>
    
</div>
{% endblock %}