{% extends 'registro/layout.html'%}

{% block title%} Editando producto {% endblock %}

{%block container%}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-12">
        <div class="for m-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" value="Guardar" class=" m-auto input-submit btn btn-success float-right">
            </form>
        </div>
    </div>
</div>
{% endblock %}