{% extends 'registro/layout.html'%}

{% block title%} {% endblock %}

{%block container %}
   
   <div class="row">
      <div class="col-12 col-md-12 ofsset-3">
         <br><br><br>
         <h1>Index</h1>
         <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut veniam exercitationem ea esse accusantium, cumque minus fugit delectus, dolores sequi, nulla quibusdam quisquam odit molestias aliquid. Dicta at unde vero!
            Incidunt, cupiditate? Ducimus nesciunt asperiores perferendis temporibus debitis assumenda magnam veniam est repellendus nostrum excepturi, eum similique voluptatem et recusandae dolorum cupiditate nam earum pariatur corrupti minus culpa in. Tenetur?
            Dolorum, iure ducimus reprehenderit hic doloremque sint alias magnam, placeat rerum explicabo facilis, voluptatum rem. Delectus aliquam nam voluptas amet, mollitia ea reiciendis nesciunt placeat, in distinctio eveniet laboriosam exercitationem?
            Ipsam culpa, omnis totam maiores rem fugiat ea eum sed quibusdam laboriosam minima deserunt! Nulla, eligendi voluptas consequuntur, illum est dolores eveniet nam consectetur accusamus quibusdam quas ullam, natus deleniti!
            Officia fugit, sit deserunt explicabo molestiae iure earum est labore voluptatum. Molestias perspiciatis tempora reiciendis magni quod architecto illo accusamus quis beatae harum. Obcaecati, facilis! Incidunt obcaecati modi quas necessitatibus.
         </p>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, pariatur fugiat. Illum, eveniet dolorum quo voluptatem incidunt repudiandae accusantium at tempora. Ullam, velit blanditiis? Omnis impedit consequatur obcaecati eaque id?
            Ea, ab. Rem ipsa nulla inventore fugiat rerum a itaque non commodi modi vero autem illum expedita error eius deserunt laudantium repellendus, optio architecto blanditiis quisquam incidunt quidem sapiente atque.
         </p>
          
      </div>
   </div>
{% endblock %}